// ******************************************************************
// Stylesheet: Sass Functions
// ******************************************************************/

// *********************
// COLORS
// *********************/

// Slightly lighten a color
// .color { tint(#ff0000, 30%); }
@function tint($color, $percentage) {
	@return mix($color, white, $percentage);
}

// Slightly darken a color
// .color { tint(#ff0000, 30%); }
@function shade($color, $percentage) {
	@return mix($color, black, $percentage);
}

// Make transparent
// .my-class{ background:black(0.15); color:white(0.9); }
@function black($opacity) {
	@return rgba(0,0,0,$opacity)
}
@function white($opacity) {
	@return rgba(255,255,255,$opacity)
}