@import "partials/fonts";

/* ==========================================================================
   Typography
   ========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	font: 14px/1.8em $proxima;
	text-shadow: 0 0 1px transparent;
}

/*    Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	font-weight: bold;
	clear: both;
	margin: 0;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 14px * 3em = 42px
h1 {
	font-size: 3.6em; // 14 * 4 = 56
	line-height: 1.1em;
    //color: $secondary-dark;
}
h2 {
    font-size: 2.5em;
	//font-size: 3em; // 14 * 3 = 42
	line-height: 1.2em;
    padding-bottom: 20px;
}
h3 {
    font-size: 2.2em;
	//font-size: 2.2em; // 14 * 2.2 = 30.8
	line-height: 1.2em;
    font-weight: 300;
}
h4 {
	font-size: 1.6em; // 14 * 2 = 28
	line-height: 1.2em;
    font-weight: 600;
    color: $secondary-text-color;
    
}
h5 {
	font-size: 1.3em; // 14 * 1.5 = 21
	line-height: 1.3em;
    color: $dark-red;
}
h6 {
	font-size: 1em; // 14 * 1 = 14
	line-height: 1.8em;
}

/* Custom Headers */
.page {
	h2, h3, h4, h5, h6 {
		margin-top: .5em;
		margin-bottom: .35em;
	}
}
.home {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h2 {
		font-size: 2em;
		font-weight: bold;
		padding: 15px 15px 0 0;
		margin: 0;
	}
	h3 {
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 5px solid $dark-red;
		font-size: 1.3em;
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 5px;
		font-size: 1em;
	}
}
.page nav h3, .home h3 {
	font-weight: bold;
}
h1.search-title {
	margin-bottom: 40px;
}
h1 span {
	display: block;
	font-size: .2em;
	line-height: 1em;
}
.archive .main header h2 {
	font-size: 2em;
}
.tax-people_cat .main header h2.filter-title {
	color: white;
	background-color: $separator-color;
	padding: 10px 0;
}
h2.subtitle {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: lighter;
	font-style: italic;
}
nav h3, .side h3 {
	font-size: 1.3em;
	margin: 0 0 20px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    border-bottom: 5px solid #711717;
    font-weight: bold;
}
.archive .main header h3 {
	font-size: 1.2em;
}
.filter h3 {
	margin-bottom: 15px;
}
.col + .col h4 {
	font-size: 1em;
}

/*    Text Elements
/*--------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	color: $border-color;
	background-color: $border-color;
	height: 1px;
	border: none;
	margin: 30px 0;
}
p {
	margin: 1.3em 0;
    line-height: 1.4em;
}
// create format style for two columns div and paragraphs
p.two-col, div.two-col {
    width: 45%; 
    padding: 0 10px 15px 0; 
    margin: 1em 20px .5em 0;
    float: left;
    border-bottom: none;
}
p.two-col.with-border, div.two-col.with-border {
    width: 45%; 
    padding: 0 10px 15px 0; 
    margin: 1em 20px .5em 0;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
	list-style-type: disc;
    line-height: 1.45em;
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	padding: 1px 40px 1px 22px;
	font-size: 1.5em;
	font-style: italic;
	color: $secondary;
	border-left: 15px solid $separator-color;
	margin: 30px 0;
	
	p {
		margin: 1em 0;
	}
}  

blockquote.stylish {
        //background: #f9f9f9;
        border-left: none;
        margin: 4em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        position: relative;
        font-style: italic !important;
        font-size: 1.3em;
        p {
            display: block;
            //font-size: 1em; //1.5em;
           // line-height: 1.1em;
           // font-style: normal;
            color: $text-color;
            position: relative;
            font-weight: bold;
            z-index: 10;
            top: 0;
            left: 0;
            margin: 10px 5px;
        }
        h1, h2, h3, h4, h5, h6 {
            position: relative;
            z-index: 10;
        }

    }
    blockquote.stylish:before {
      color: #eee;
      content: open-quote;
      font-size: 25em;
      //line-height: 0.1em;
     // margin-right: 0.25em;
      vertical-align: -0.4em;
        position: absolute;
        top: 134px; //164px;
        left: -65px; //-74px;
    }


figcaption {
	font-style: italic; 
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*    Links
/*--------------------------------------*/

a:link, .col a h4 {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
	@include transition(color 0.24s ease-in-out);
}
a:hover, a:focus, a:active, 
.col a h4:hover, .col a h4:focus, .col a h4:active {
	color: $link-hover-color;
}
.col a:visited, .main a:visited {
	color: $link-visited-color;
}
nav a:link, a.btn, .people-list a, .home .col a {
	text-decoration: none;
}

// This adds icon to links that lead to outside the website
// Uncomment and change URL to domain of website as need
article {
	p, h1, h2, h3, h4, h5, h6 {
		a[href*="//"]:not([href*="philosophy.ucla.edu"]) {
			@extend %externallink;
			
			// Don't style external link buttons
			&.btn {
				background-image: none;
			}
		}
	}
}

/*    Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
} 