//    C O L O R S
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;
$dark-red:              #711717;
$deep-blue:             #003358;
$white:					white(0.98);
// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .60);
$link-color:			$secondary;
$link-hover-color:		$secondary-dark;
$link-visited-color:	$secondary-dark;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				tint($secondary-text-color, 30%);
$btn-hover-color:		$secondary-text-color;
$give-btn-color:		$secondary-light;
$give-btn-hover-color:	$secondary;
$bullet-point:			$secondary;
$bg-light-color:		rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//    N U M B E R S
//--------------------------------------*/


// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;