/* ==========================================================================
   Mobile Screen Sizes
   ========================================================================== */

/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

body {
	font-size: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
.content, header {
	margin: 0 auto;
	float: none;
	width: 100%;
}
 .col, #main-content .content {
	width: 95%!important;
	margin: 0 auto;
	float: none;
}
#main-content {
	margin-bottom: 30px;
}

/*    H O M E  P A G E
/*--------------------------------------*/

#hero {
	display: none;
}
#hero.mobile-hero {
	display: block;
}
/*.home #hero {
	display: block;
	height: 30%;
	margin: 0 0 40px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
	
	.content {
		width: 100%;
		height: 120px;
		@include vendor-prefix('box-shadow', 'none');
	}
	.hero-description {
		display: none;
	}
}*/



.home {
	#hero {
		display: block;
		height: 400px;
		margin: 0 0 40px 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0px rgba(0,0,0,.14)');
		
		.content {
			width: 100%!important;
			height: 400px;
			@include vendor-prefix('box-shadow', 'none');
		}
		.hero-description {
			width: 95%;
			padding: 0 0 30px 0;
			left: 0;
			right: 0;
			
			h2 {
				font-size: 2em;
				line-height: 1.1em;
			}
			p {
				font-size: 1em;
			}
		}
	}
}
.home .col {
	width: 100%!important;
	float: left;
	margin: 0 auto 30px auto;
	
	ul, ol {
		float: left;
		clear: both;
		width: 100%;
	}
	&.news-col {
		ul {
			margin-bottom: 0;
		}
		li {
			padding: 0;
			margin: 0;
			clear: both;
			list-style: none;
			
			.news-item {
				float: none;
				width: 100%;
			}
		}
		&.two {
			.news-item {
				width: auto;
			}
			img {
				display: none;
			}
			.btn {
				margin-left: 0;
			}
		}
	}
	
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.news-col .btn {
		margin-top: -5px;
	}
}
.home .col + .col {
	width: 100%!important;
	margin: 0 auto 30px auto;
	background-color: white;
	padding: 0;

	li {
		padding: 0;
		border: none;
	}
}
.home .news-col .btn {
	margin-left: 0;
}
.home .events-col ul {
	margin: 0 auto 30px auto;
	
}

/*	6. Slider
/*--------------------------------------*/

.bx-wrapper {
	height: 400px!important;
	width: 100%;
}
#slider {
	margin-top: 0;
	
	.hero-description {
		width: 75%!important;
		padding: 0 0 30px 0;
		left: 0;
		right: 0;
		
		h2 {
			font-size: 2em;
			line-height: 1.1em;
		}
		p {
			font-size: 1em;
		}
		.content {
			width: 100%!important;
		}
	}
}
#slider {
	width: 100%;
		
	li, .bg {
		height: 400px;
	}
}

/* Direction Controls (Next / Prev) */
.bx-wrapper {
	.bx-prev {
		left: 10px;
		background: url(../images/mobile-arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 10px;
		background: url(../images/mobile-arrow-right.png) no-repeat;
	}
	.bx-controls-direction a {
		width: 23px;
		height: 40px;
	}
}

/* Pager */
.bx-pager {
	float: right;
}

// Hide unneccessary things
header .university-logo,
.give-back, 
header .search-form {
	display: none!important;
}

/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 10px 0 10px 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: block;
			margin: 0;
			text-align: center;
            border: none;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		width: 95%;
		max-width: 581px;
		height: auto;
	}
	nav {
		float: none;
	}
}
.breadcrumbs {
	margin-bottom: 20px;
	
	.content {
		width: 95%;
	}
}

/*    N A V I G A T I O N
/*--------------------------------------*/

header nav.desktop {
	display: none;
}
body #wprmenu_menu {
	border-right: 1px solid #eee;
	background-color: white!important;
	@include vendor-prefix('box-shadow', '18px 0px 7px -3px rgba(0,0,0,0.17)');
}
#wprmenu_bar {
	background-color: $secondary!important;
}
#wprmenu_bar .menu_title {
	color: white!important;
}
#wprmenu_menu.wprmenu_levels ul li {
	border-bottom: 1px solid $border-color!important;
	border-top: none!important;
}
#wprmenu_menu.wprmenu_levels a.wprmenu_parent_item {
	border-left: 1px solid $border-color!important;
}
#wprmenu_menu.wprmenu_levels ul li ul {
	border-top: 1px solid $border-color!important;
}
#wprmenu_menu ul li a {
	color: $text-color!important;
	font-weight: bold;
}
#wprmenu_menu .wprmenu_icon_par {
	@include transition(color 0.24s ease-in-out);
}
#wprmenu_menu input[type="search"] {
	background-image: none;
	border-radius: 20px;
	font-size: 1em;
	padding: 5px 40px 5px 10px!important;
}
#wprmenu_menu ul li a:hover, #wprmenu_menu .wprmenu_icon_par:hover {
	color: $link-color!important;
}

/* Secondary Navigaion */
.col.side .content {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.col.side.feed {
	width: 95%!important;
	margin: 0 auto;
}
.col + .col {
	width: 100%!important;
	margin: 0 auto;
	
	nav.page-nav {
		h3 {
			border-bottom: none;
			margin-bottom: 0;
			margin-left: 10px;
		}
		a {
			border-top: 1px solid $border-color;
			padding: 10px;
			display: block;
		}
		a:hover {
			background-color: $bg-light-color;
		}
	}
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	margin-top: 0px;
	
	nav {
		display: none;
	}
	.copyright {
		padding-top: 10px;
		width: 95%;
		margin: 0 auto;
		
		p {
			margin: 0;
		}
	}
	.university-logo {
		display: none;
	}
	.search-form {
		width: 100%;
		margin: 0 auto 10px auto;
		display: block;
	}
	input[type="search"] {
		float: none;
		clear: none;
		margin: 0 auto;
		color: $text-color;
		width: 100%;
		max-width: 280px;
		padding: 5px 10px 5px 10px;
		background: white;
		display: block;
	}
}

/*    A R T I C L E S
/*--------------------------------------*/

.category, .search-results {
	article {
		padding: 30px 0;
	}
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/

/* Filters */
.filter, .filter-title {
	display: none;
}
.archive .content header {
	text-align: left;
	width: 95%;
	margin: 0 auto;
}

/* People List */
.people-list {
	margin: 20px auto 0 auto;
	padding: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
	}
}
.people-list .person-item {
	float: none!important;
	padding: 10px !important;
	width: 100%;
	height: auto;
	text-align: left;
    margin: 5px 0 5px 10px;
    a { 
        display: inline-block;
        float: left;
        height: 140px;
    }
    .name {
        font-size: 1.3em;
    }
	.photo {
        width: 140px;
        height: 140px;
		float: left;
		margin: 0 !important;
	}
    .position {
        font-size: 0.9em;
        line-height: 1.15em;
    }
    .interest {
        font-size: 0.75em;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .phone, .email {
        font-size: 0.8em;
        line-height: 1.3em;
    }
    dd {
        clear: both;
        margin-bottom: 5px;
    }
	dl {
		min-height: 107px;
		padding: 0 0 0 20px;
		margin: 0px 0px 0px 0px;
        width: 55.5%;
        
        a {
            height: auto !important;
        }   
	}
}

/* Staff */
.term-staff .people-list {
    
        width: 100%;
        margin: 10px;
    li {
        list-style: disc;
    }
    .person-item {
        padding: 10px 0px !important;
       .email a {
            float:inherit !important;
        }
        .photo {
            width: 210px;
            clear: both;
            float: none;
            margin: 10px auto !important;
            display: block;
        }
        dl {
            float: none;
            //padding: 10px 0px;
            width: 95%;            
            text-align: center;
            margin: 0px !important;
        }
        .name:after {
            content: '';
        }
        .details {
            clear: both;            
            margin-bottom: 30px;
        }
        .position {
            display: block;
        }
        .bio {
            text-align: left;
        }
    }
}
/*    P E R S O N  P A G E
/*--------------------------------------*/

.single-people {
    .content {
        width: 95%;
    }
    .bio section {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
	.details {
		span {
			display: block;
		}
		span + span {
			margin-left: 0;
		}
		p {
			margin-top: 0px;
		}
	}
	article header {
		text-align: center;
		
		img {
			display: block;
		}
		h1 {
			margin-bottom: 15px;
		}
	}
	.col + .col {
		margin-top: 0;
		width: 95%!important;
		
		img {
			display: none;
		}
		.table-of-contents {
			display: none;
		}
	}
	.photo {
		margin: 0 auto 25px auto;
        display: block;
	}
}

/*    B O O K S
/*--------------------------------------*/

/* People Page */
.single-people .book-list {
	float: none;
	
	img, .custom-cover {
		float: left;
		margin-right: 15px;
	}
	li {
		float: left;
		width: 100%;
		display: block;
	}
	dl {
		margin-left: 15px;
		float: none;
		clear: none;
		width: auto;
	}
	dt.title {
		font-size: 1em;
	}
	dd.subtitle {
		font-size: .85em;
	}
}

/* Book Page */
.single-books {
	.content header {
		.cover {
			display: block;
			margin: 15px auto;
			width: 190px;
			height: auto;
		}
		.custom-cover.cover {
			width: 160px;
			height: 205px;
		}
		.custom-cover .title {
			font-size: 1.2em;
			line-height: 1em;
			text-align: center;
		}
	}
	.col + .col {
		.cover {
			display: none;
		}
	}
	.author {
		margin: 0 0 15px 0;
	}
}

/* Book Archive */
.post-type-archive-books {
	
	.content header {
		width: 95%;
	}
	.book-list {
		margin-top: 20px;
		clear: both;
		
		li {
			padding: 15px 0;
			margin: 0 auto;
			width: 95%;
			height: auto;
			text-align: left;
			float: none;
			clear: both;
		}
		.custom-cover, img {
			float: left;
			margin-right: 15px;
		}
	}
}

/*    E V E N T S
/*--------------------------------------*/
// Using The Events Calendar plugin: https://wordpress.org/plugins/the-events-calendar
// Some quick defaults but in future iteration will create fully customized theme.
// Use the Full Styles setting.

#tribe-events, #tribe-events-content.tribe-events-month {
	width: 100%;
	margin: 0 auto; 
}
#tribe-events-content {
	width: 100%;
	margin: 0 auto;
}
#tribe-events-pg-template {
	width: 95%;
	padding: 40px 0 0 0!important;	
}
.tribe-events-sub-nav {
	margin-top: 15px!important;
}
.tribe-events-last {
	padding-bottom: 0!important;
}
.post-type-archive-tribe_events .col {
	width: 100%;
}
.post-type-archive-tribe_events #tribe-events {
	margin-top: 20px!important;
}
.datepicker thead th {
	border-radius: 0!important;
}
#tribe-bar-form {
	padding: 0!important;
}
.tribe-events-schedule {
	margin: 15px 0!important;
	
	p {
		margin: 0;
	}
}

/*    F O R M S
/*--------------------------------------*/

article form {
	margin-bottom: 40px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 93%;
	max-width: 500px;
}
textarea {
	width: 94%;
}
select {
	width: 100%;
	max-width: 525px;
}

/*    T Y P O G R A P H Y
/*--------------------------------------*/

.page {
	h1 {
		margin-top: 0em!important;
	}
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}
}
h1 {
	font-size: 2.5em;
	line-height: 1em;
}
h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}
.home .col h3, .col + .col h3 {
	font-size: 1.35em;
}
h3 {
	//font-size: 1.125em;
    font-size: 1.55em;
    font-weight: 400;
}
h4 {
	font-size: 1.1em;
	font-weight: 700;
}
h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p {
	clear: both;
}
p.two-col, div.two-col {
    width: 45%; 
    padding: 0 10px 15px 0; 
    margin: 1em 20px .5em 0;
    float: left;
    border-bottom: none;
    clear:none;
}
blockquote {
	padding: 1px 22px 1px 22px;
	font-size: 1.2em;
	font-style: italic;
	color: $secondary;
	border-left: 15px solid $separator-color;
	margin: 30px 0;
}
blockquote.stylish {
        //background: #f9f9f9;
        border-left: none;
        margin: 4em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        position: relative;
        font-style: italic !important;
        font-size: 1.2em;
        p {
            display: block;
            //font-size: 1em; //1.5em;
           // line-height: 1.1em;
           // font-style: normal;
            color: $text-color;
            position: relative;
            font-weight: bold;
            z-index: 10;
            top: 0;
            left: 0;
            margin: 10px 5px;
        }
        h1, h2, h3, h4, h5, h6 {
            position: relative;
            z-index: 10;
        }

    }
    blockquote.stylish:before {
      color: #eee;
      content: open-quote;
      font-size: 25em;
      //line-height: 0.1em;
     // margin-right: 0.25em;
      vertical-align: -0.4em;
        position: absolute;
        top: -220px; //164px;
        left: -65px; //-74px;
    }

a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

/*    O T H E R
/*--------------------------------------*/

.alignleft, .alignright, .aligncenter, .alignnone, .wp-post-image { 
	float: none;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}
.wp-caption {
	max-width: 100%;

	img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}
.color-block {
	margin: 1px;
}
.fixclear:after { 
   overflow: auto;
}

/*    P O S T S  &  C O N T E N T  S T Y L E S
/*--------------------------------------*/

article header {
	padding: 0;
}
.entry-content {
	table {
		margin-bottom: 1.5em;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
}

/*    P A G I N A T I O N
/*--------------------------------------*/

.pagination, .wp-prev-next {
	margin: 1.5em 0;
}
.pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		
		&:hover, &:focus {
			background-color: $secondary;
			color: white;
		}
	}
	.current{
		cursor: default;
		color: $text-color;
	
		&:hover, &:focus {
			background-color: white;
			color: $text-color;
		}
	}
}
.wp-prev-next {
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}