/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
   
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}

/*    H O M E  P A G E
/*--------------------------------------*/

/*
.home #hero {
	height: 438px;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		// make same height as hero
		height: 438px;
		position: relative;
		//@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.5)');
	}
	.hero-container {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.hero-description {
		font-size: 1.5em;
		font-style: italic;
		color: white;
		text-align: right;
		width: $site-width;
		margin: 0 auto;
		
		p {
			width: 580px;
			float: right;
		}
	}
	&.mobile-hero {
		display: none;
	}
} */


.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
				text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
                .btn, a .btn { 
                    text-shadow:none;
                    background: $give-btn-color;
                    color: $white !important;
                    @include transition(background-color 0.24s ease-in-out);

                    &:hover, &:focus {
                        background: $primary;
                        color: white !important;
                    }
                }
			}
		}
		.hero-description .content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		h2 {
            color: $white;
			font-size: 4em;
			line-height: 1em;
			max-width: 800px;
			font-weight: 600;
			margin: 0 auto 10px auto;
		}
		p {
			font-size: 1.2em;
			max-width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		.outline {
			margin-top: 15px;
			min-width: 106px;
		}
		.left {
			text-align: left;
            h2 {
                margin-left: 0;
            }			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
            h2 {
                margin-right: 0;
            }	
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button, .btn {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;		
		h2 {
			width: 100%;
		}
	}
}



.home .col {
	float: left;
	
	ul {
		margin-top: 0;
	}
	li {
		list-style: none;
		margin-left: 0;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: 1em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
	}
	&.news-col {
		.news-item p {
			color: $text-color;
			font-weight: normal;
            word-break: break-word;
		}
		li {
			padding: 0 0 5px 0;
			clear: both;
			
			.post-date {
				font-weight: bold;
				display: inline-block;
				padding-right: 5px;
				margin-right: 5px;
				border-right: 1px solid $border-color;
			}
		}
		.btn {
			margin-top: -5px;
		}
		&.one {
			.news-item {
				float: right;
				width: auto;
			}
		}
		&.two {
			.news-item {
				float: right;
				width: 330px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*    H E A D E R
/*--------------------------------------*/
.home {
    .search {
    margin-top: 0px ;
    }
}

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 440px;
			display: inline-block;
			margin: 0;
			text-align: center;
            border-left: 1px #eeeeee solid;
            padding: 0px;
		}
	}
	// For retina, upload image 2x larger and resize here
	.dept-logo {
		//width: 581px;
        width: 392px;
		height: 72px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 100%;
	}
    .search-form{
        float: right;
        width: 221px;
    }
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 129px;
		text-align: center;
		float: right;
        clear: both;
		//margin-top: 20px;
        margin-top: -19px;

		span {
			font-size: .85em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
        margin-right: 30px;
		// For retina, upload image 2x larger and resize here
		width: 119px;
		height: 38px;
	}
}
.breadcrumbs {
	background-color: none;
	width: 100%;
	float: left;
	clear: both;
	color: #b3b3b3;
	font-size: .85em;
	padding: 8px 0;
	margin-bottom: 40px;
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: #711717;
		text-decoration: underline;
	}
    a:first-of-type {
        padding-right: 5px;
    }
    span[rel="v:child"] a, .breadcrumb_last {
        padding:0px 5px;
    }
}

/*    N A V I G A T I O N
/*--------------------------------------*/

header nav.desktop ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav.desktop ul li, footer nav ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $dark-red;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
        font-size: 0.95em;
        font-weight: 400;
        border-bottom: 1px solid #F2F2F2;
	}
    ul li ul li:last-of-type a{
        border-bottom: none;
	}
    
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children {
		//background: url('../images/nav-arrow.png') no-repeat right center;
		padding-right: 10px;
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.16em;
		letter-spacing: 1px;
	}
	a, a:link {
		color: $text-color;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: $dark-red;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin-left: 10px;
		line-height: 1.2em;      
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin-bottom: 10px;
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu, .page_item_has_children ul.children { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu, .current_page_item ul.children, .page_item_has_children.current_page_ancestor.current_page_parent ul.children {
		display: block;
		margin: 0 0 0 0px;
	}
	.sub-menu li:before {
		content: "•";
		color: $bullet-point;
		font-size: 1.5em;
		padding-right: 5px;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 10px;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	background-color: #f2f2f2;
    border-top: 3px #E6E6E6 solid;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $text-color;
	font-size: 1em;
	line-height: 1.5em;
    
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		//margin-top: 20px;

		span {
			font-size: .85em;
			display: block;
		}
	}
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $secondary;
			font-weight: bold;
			text-transform: uppercase;
			font-size: .85em;
			letter-spacing: 1px;
            text-decoration: underline;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			display: inline-block;
			vertical-align: middle;
			
			// For retina, upload image 2x larger and resize here
			img {
				width: auto;
				height: 21px;
			}
			.email {
				height: 18px;
			}
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .85em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $secondary;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*    A L U M N I  P A G E
/*--------------------------------------*/
.page-template-page-alumni-landing {
    section .btn {display: block; padding: 5px 10px; margin-top: 15px;}
}
.single-alumni {
    h1 {font-family: 'Palatino', 'Times New Roman', serif;}
    h2 {
        font-family: 'Palatino', 'Times New Roman', serif;
        font-weight: normal;
        font-size: 2em;
    }
    .breadcrumbs { margin-bottom: 0px;}
	.details {
		span {
			display: inline-block;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
    section {
        border-bottom: rgba(0, 0, 0, 0.10) 5px solid;
        padding-bottom: 20px;
        margin-bottom: 20px;
        clear: both;
        display: block;
        float: left;
        width: 100%;
           /* section:first-of-type {
                margin-top: 20px;
            }*/
            section {
                border-bottom: none;
                padding-bottom: 0px;
            }
    }
    section:last-of-type {
        border-bottom: none;
    }
	.bio {
        clear: both;
        width: 100%;
        display: block;
        padding-top: 50px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: hidden;
        .photo {
            width: 280px !important;
            height: 280px !important;
            margin-bottom: 10px !important;
            border: 5px #E6E6E6 solid;
        }
        .year{ 
            display: block;
            margin-bottom: 5px;
            font-family: 'Palatino', 'Times New Roman', serif;
            font-size: 26px;
            font-style: italic;
            color: $secondary-text-color;
        }
        .degree{ 
            display: block;
            font-family: 'Palatino', 'Times New Roman', serif;
            font-size: 20px;
            font-style: italic;
            color: $secondary-text-color;
            &:last-of-type {margin-bottom: 20px;}
        }
        .interest {
            margin: 15px 0px;
        }
        section {
            float: right;
            width: 620px;
            clear: right;
            margin-left: 15px;
            display: block;
            border: none;
            padding-bottom: 0px;
        }
           // background: rgba(0, 0, 0, 0.03);
	}
    .person-nav {
        float: right;
    }
	.col-nav ul {
		margin-bottom: 40px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	background: url('../images/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../images/download-icon.png') no-repeat left center;
	padding-left: 18px;
}


.single-people {
    .breadcrumbs { margin-bottom: 0px;}
	.details {
		span {
			display: inline-block;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
    section {
        border-bottom: rgba(0, 0, 0, 0.10) 5px solid;
        padding-bottom: 20px;
        margin-bottom: 20px;
        clear: both;
        display: block;
        float: left;
        width: 100%;
           /* section:first-of-type {
                margin-top: 20px;
            }*/
            section {
                border-bottom: none;
                padding-bottom: 0px;
            }
    }
    section:last-of-type {
        border-bottom: none;
    }
	.bio {
        clear: both;
        width: 100%;
        display: block;
        padding-top: 50px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: hidden;
        .position { 
            display: block;
            margin-bottom: 20px;
            font-size: 18px;
            font-style: italic;
            color: $dark-red;
        }
        .interest {
            margin: 15px 0px;
        }
        section {
            float: right;
            width: 620px;
            clear: right;
            margin-left: 15px;
            display: block;
            border: none;
            padding-bottom: 0px;
        }
            background: rgba(0, 0, 0, 0.03);
	}
    .person-nav {
        float: right;
    }
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
        border: 5px #E6E6E6 solid;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	background: url('../images/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../images/download-icon.png') no-repeat left center;
	padding-left: 18px;
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/

/* Filters */
.tax-people_cat .main header {
	text-align: center;
	//float: left;
	clear: both;
    padding: 0px;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 0;
		margin: 15px 10px;
		width: 440px;
		height: 210px;
		text-align: left;
		line-height: 1.8em;
        background-color: #f2f2f2;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&:active, 
		&:hover, 
		&:focus {
			background-color: $bg-dark-color;
		}
        dl {
            float: left;
            padding: 10px 20px;
            width:43%;
        }
		.photo {
			//border: 7px solid white;
			width: 210px;
			height: 210px;
            clear: both;
            float: left;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: capitalize;
			color: $deep-blue;
			letter-spacing: 1px;
            font-size: 1.5em;
		}
		.interest {
			font-size: .85em;
			color: $secondary-text-color;
			line-height: 1.3em;
            margin-bottom: 15px;
		}
        .phone {
            color:$text-color;
        }
		.position {
			color: $dark-red; //$secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
            line-height: 1.15em;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			margin: 0;
            line-height: 1.5em;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.term-staff .people-list {
    li {
        list-style: disc;
    }
    .person-item {
		display: inline-table;
		float: left;
		padding: 0;
		margin: 5px 10px;
		width: 100%;
        max-width: 900px;
		min-height: 210px;
        overflow: hidden;
		text-align: left;
		line-height: 1.8em;
        background-color: #f2f2f2;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&:active, 
		&:hover, 
		&:focus {
			background-color: $bg-dark-color;
		}
        dl {
            float: left;
            padding: 10px 20px;
            min-width: 70%; //670px;
            margin-bottom: 0px;
        }
		.photo {
			//border: 7px solid white;
			width: 210px;
			height: 210px;
            clear: both;
            float: left;
            margin: 10px 0px 10px 10px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: capitalize;
			color: $deep-blue;
			letter-spacing: 1px;
            font-size: 1.65em;
		}
        // Add Dash after Name only if window is bigger then 960px 
        .name:after {
            content: ' - ';
        }
		.interest {
			font-size: .85em;
			color: $secondary-text-color;
			line-height: 1.3em;
            margin-bottom: 15px;
		}
		.position {
			color: $dark-red; //$secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
            line-height: 1.15em;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			margin: 0;
            line-height: 1.5em;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/* Alumni */
.page-template-page-alumni-landing {
     section {
        border-bottom: 1px #f2f2f2 solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
.tax-alumni_cat .people-list, .page-template-page-alumni-listing .people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 0;
		margin: 15px 10px !important;
		width: 210px !important;
		height: 415px !important;
		text-align: left;
		line-height: 1.8em;
        background-color: #f2f2f2;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&:active, 
		&:hover, 
		&:focus {
			background-color: $bg-dark-color;
		}
        dl {
            float: left;
            padding: 10px 10px !important;
            width:91%;
        }
		.photo {
			//border: 7px solid white;
			width: 210px !important;
			height: 210px !important;
            clear: both;
            float: left;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 55px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
			text-transform: capitalize;
			color: $deep-blue;
			letter-spacing: 1px;
            font-size: 1.5em;
		}
		.interest {
			font-size: .85em;
			color: $secondary-text-color;
			line-height: 1.3em;
            margin-bottom: 15px;
		}
        .phone {
            color:$text-color;
        }
        .year {
            color:$text-color;
            margin-bottom: 5px;
            font-size: 1.2em;
            font-style: italic;
            font-weight: 600;
            line-height: 1.35em;
        }
		.degree, .occupation {
            font-size: .9em;
			color: #4d4d4d;
			margin-bottom: 10px;
            line-height: 1.15em;            
            margin-bottom: 5px;
		}
		.email, .office, .office-hours, .phone {
			font-size: .9em;
			margin: 0;
            line-height: 1.5em;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
    .person-item::first-of-type {margin-left:0px !important; padding-left: 0px !important; } 
    .person-item::last-of-type {margin-right:0px !important; padding-right: 0px !important;  } 
}

/*    B O O K S
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .85em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .85em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .85em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		background: url('../images/comma.jpg') no-repeat left 9px;
		padding-left: 10px;
		margin-left: -2px;
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: block;
			padding: 15px 10px;
			margin: 0 10px;
			width: 195px;
			height: 280px;
			text-align: center;
			float: left;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .85em;
			line-height: .85em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .85em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}
/*    A R T I C L E S
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
		padding-top: 20px;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*    T A B L E S
/*--------------------------------------*/

td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/*    O T H E R
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.gform_confirmation_wrapper {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
.content-subtitle {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
}
.alert {
	border-radius: 5px;
	width: 100%;
	padding: 15px;
	margin: 15px 0;
	font-weight: bold;
	
	&.info {
		background-color: #cce3f1;
		border: 1px solid #67add7;
	}
	&.warning {
		background-color: #f2f2c7;
		border: 1px solid #e6e693;
		color: #666600;
	}
}

/* FAQ */
dl.faq {
	dt.question {
		background: white url('../images/inactive-arrow.png') no-repeat left 10px;
		padding-left: 15px;
		cursor: pointer;
	}
	dt.active {
		background: white url('../images/active-arrow.png') no-repeat left 10px; 
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}

/* Galleries */
.gallery {

	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
// When using Responsive Lightbox plugin
#fancybox-close {
	right: -40px!important;
}
#fancybox-right {
	right: -25px!important;
}
#fancybox-right:hover span {
	left: auto;
	right: 10px;
}
#fancybox-left:hover span {
	left: 10px;
}
/*    N E W S L E T T E R
/*--------------------------------------*/
.page-template-page-newsletter {
        .cover-list {
            margin-top: 40px;
            clear: both;

            ul {
                padding: 0;
            }
            li {
                display: block;
                padding: 15px 5px;
                margin: 0 5px;
                width: 30%;
                height: 280px;
                text-align: left;
                float: left;
                text-align: center;
            }
            li:first-child{
                margin-left: 0px;
                padding-left: 0px; 
            }
            .cover {
                width: 172px;
                height: 223px;
            }
            .custom-cover {
                width: 95px;
                height: 105px;
                line-height: 24px;
                padding: 60px 15px 10px 15px;

                .title {
                    font-size: 16px;
                }
            }
            dt.title {
                font-size: 1.3em;
                line-height: 1.2em;
                margin: 10px 0;
                text-transform: capitalize;
            }
            a {
                text-decoration: none;
            }
        }

}

.newsletter {
    header.newsletter-title {
        padding: 0px 0px 10px;
        margin-bottom: 35px;
        border-bottom: 1px #ccc solid;
        width: auto;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }
    h1 {
        font-size: 2.215em;
        line-height: 1.1em;
        color: #0277b3;
        font-weight: 300;
        margin-bottom: 25px;
        
        &:after {
		content: "••";
		color: $bullet-point;
		font-size: 31px;
		padding-left: 10px;            
	   }	
    }
    h3 {
        color: #0277b3;
        font-size: 1.285em;
        font-weight: 500;
        margin-bottom: 25px;
        text-transform: uppercase;
        line-height: 1.6em;
    }
    h4 {
        font-size: 1em;
        color: $primary;
        margin-bottom: 25px;
        line-height: 1.4em !important;
    }
    h5 {
        font-size: 1em;
        color: $text-color !important;
        margin-bottom: 25px;
        line-height: 1.4em !important;
    }
    h6 {
        font-size: 1em;
        line-height: 1.4em !important;
    }
    .qa h3 {text-transform:none;}
     .brief-intro {
        //clear: both;
       // box-sizing: content-box;
        padding: 20px;
        margin: 10px 0;
        background: #c6e5f4;
         overflow: hidden;

        .interview-photo {
            width: 140px;
            float: left;
            margin-right: 15px;
            .photo {width: 140px;}
        }
        h4 {
            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase;
            color: #0277b3;
        }
         .interview-about p { margin: 0px;}

    }
    section.interview .answer {
        line-height: 1.4em;
       // p:first-of-type { display: inline;}
       // p::after { margin-bottom: 100px;}
    }
    blockquote {
        color: #0277b3;
        border-left: 15px solid #0277b3;
        background: #c6e5f4;
    }
    
    #hero {
        background-repeat: no-repeat;
        background-size: cover;
        width: 640px;
        height: 298px;
        float: left;
        clear: both;
        position: relative;
        color: white;
        margin-bottom: 40px;
        .phil-logo {
            position: absolute;
            background: url('../images/philosophy-newsletter-logo.png') no-repeat;  
            width: 580px; 
            height: 40px; 
            margin: 0 auto;
            top: 20px;
            left: 0;
            right: 0;
        }
        .colloquy-logo { 
            position: absolute;
            background: url('../images/colloquy-logo.png') no-repeat;  
            width: 580px; 
            height: 112px; 
            margin: 0 auto;
            bottom: 20px;
            right: 0;
            left: 0;
            .newsletter-issue{     
                position: absolute;
                bottom: 0px;
                right: 0; 
                width: 95px;
                font-size: 14px;
                margin-right: 15px;
                text-transform: uppercase;
                padding: 0 10px;
                text-align: center;
                letter-spacing: .035em;
            }
        }
    }

/* BLOG */
    .blog li {
    list-style: none;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
}
    .blog.items-list li:not(:last-child) {        
        border-bottom: 1px solid $border-color;
    }
    .blog.items-list li ul li {    
        border-bottom: none !important;}

/* Recent Books Archive */
    #books {
        h1 {
            text-align: center;
        }
        .book-list {
            margin-top: 40px;
            clear: both;

            ul {
                padding: 0;
            }
            li {
                display: block;
                padding: 15px 10px;
                margin: 0 10px;
                width: 27%;
                height: 280px;
                text-align: left;
                float: left;
            }
            .cover {
                width: 125px;
                height: 175px;
            }
            .custom-cover {
                width: 95px;
                height: 105px;
                line-height: 24px;
                padding: 60px 15px 10px 15px;

                .title {
                    font-size: 16px;
                    line-height: 16px
                }
            }
            dt.title {
                font-size: 1em;
                line-height: 1.2em;
                margin: 10px 0;
                text-transform: uppercase;
                font-style: italic;
            }
            dd.publisher {
                font-size: .85em;
                line-height: .85em;
                margin-bottom: 5px;
            }
            dd.author a {
                display: block;
                font-size: 1em;
                line-height: 1.14em;
                font-weight: normal;
                color: $text-color;
            }
            a {
                text-decoration: none;
            }
        }
    }

}

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}