/* ==========================================================================
   Mobile Fixes
   ========================================================================== */
@media only screen and (min-width: 400px) and (max-width: 480px) {
    
    // Fix the Size of Two Column Paragraph Style
    p.two-col, div.two-col, p.two-col.with-border, div.two-col.with-border {
        width: 98%;
    }
    .people-list .person-item {
        width: 90% !important;
        dl {
            width: 53.5%;
        }
    }
    .term-staff .people-list {
        width: 100%;
        margin: 10px;
        .person-item {
            width: 96% !important;
            margin: 5px 0px;
             dl {
                float: none;
                //padding: 10px 0px;
                width: 92%;            
                text-align: center;
                margin: 0px !important;
            }
        }
    }
    // Alumni List    
    .tax-alumni_cat .people-list, .page-template-page-alumni-listing .people-list {        
        .person-item {        
            float: left;
            padding: 0 !important;
            margin: 15px 10px;
            width: 210px !important;
            height: 400px;
            text-align: left;
            //line-height: 1.8em;
        }
        
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    
    .people-list .person-item {
		float: none!important;
		padding: 10px 0px 10px 10px !important;
		width: 94.5% !important;
		height: auto;
		text-align: left;
        margin: 5px 10px !important;
	}
    .term-staff .people-list {
        width: 100%;
        margin: 10px;
        .person-item {
            width: 96%;
            margin: 5px 0px;
             dl {
                float: none;
                //padding: 10px 0px;
                width: 92%;            
                text-align: center;
                margin: 0px !important;
            }
        }
    }
    // Alumni List    
    .tax-alumni_cat .people-list, .page-template-page-alumni-listing .people-list {
        
        .person-item {        
            float: left;
            padding: 0 !important;
            margin: 15px 10px;
            width: 210px !important;
            height: 400px;
            text-align: left;
            //line-height: 1.8em;
        }
        
    }
	// Adjusting hero size on mobile
	/*.home #hero {
		.content {
			width: 100%;
			height: 250px;
		}
	}*/
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 20px;
		}
		img {
			display: block;
			float: left;
			clear: left;
			width: 20%;
			height: auto;
		}
		li {
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			clear: both;
			float: left;
			
			.news-item {
				float: left;
				width: 75%;
				clear: right;
			}
		}
		& .btn {
			clear: both;
		}
		&.events-col {
			margin-bottom: 30px!important;
		}
	}
	 #tribe-events-content.col, #tribe-events .col.side.feed {
		width: 100%!important;
	}
    // Fix the Size of Two Column Paragraph Style
    p.two-col, div.two-col, p.two-col.with-border, div.two-col.with-border {
        width: 43%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 799px) {
	// Making people page two column
	.filter, .filter-title {
		display: block;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}	
	.people-list .person-item {
		float: none!important;
		padding: 15px 0;
		width: 95%;
		height: auto;
		text-align: left;
        margin: 5px 10px;
	}
    // Alumni List    
    .tax-alumni_cat .people-list, .page-template-page-alumni-listing .people-list {
        
        .person-item {        
            float: left;
            padding: 0 !important;
            margin: 15px 10px;
            width: 210px !important;
            height: 400px;
            text-align: left;
            //line-height: 1.8em;
        }
        
    }
    // Fix the Size of Two Column Paragraph Style
    p.two-col, div.two-col, p.two-col.with-border, div.two-col.with-border {
        width: 43.333%;
    }
	// Two columns on book archive
	.post-type-archive-books {
		article header {
			.cover {
				display: block;
				margin: 15px auto;
			}
			width: 95%;
		}
		.book-list {
			margin-top: 20px;
			clear: both;
			
			li {
				padding: 15px 0;
				margin: 0 1.5%;
				width: 30%;
				height: auto;
				text-align: center;
				float: left;
				clear: none;
			}
			.custom-cover, img {
				float: none;
				margin: 0 auto;
			}
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Adjusting hero size on mobile
	/*#hero {
		display: block;
		height: 280px;
	}
	.home #hero {
		.content {
			width: 100%;
			height: 280px;
		}
	}*/
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: left;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: right;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
	// Make homepage columns side by side
	.home {
		.col {
			width: 31%!important;
			float: left;
			margin: 0;
		}
		.col + .col {
			width: 31%!important;
			float: left;
			margin: 0 0 30px 26px;
		}
		#main-content .content {
			width: 95%!important;
			max-width: 100%!important;
			margin: 0 auto;
			float: none;
		}
        
		#main-content #hero .content {
            width: 100% !important;
        }
	}
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
	// Making People page three column
	.filter, .filter-title {
		display: block;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}
	.people-list .person-item {
		float: none!important;
		padding: 15px 0;
		width: 46%;
		height: auto;
		text-align: left;
		
		.photo {
			float: none;
			margin: 0 15px;
		}
        dl {
            width: 53%;
        }
	}

    .term-staff .people-list {
        width: 100%;
        margin: 10px;
        .person-item {
            width: 98%;
            margin: 5px 0px;
             dl {
                float: none;
                //padding: 10px 0px;
                width: 95%;            
                text-align: center;
                margin: 0px !important;
            }
        }
    }
    // Alumni List
    
    .tax-alumni_cat .people-list, .page-template-page-alumni-listing .people-list {
        
        .person-item {        
            float: left;
            padding: 0 !important;
            margin: 15px 10px;
            width: 210px !important;
            height: 400px;
            text-align: left;
            //line-height: 1.8em;
        }
        
    }
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
			
			img {
				display: none;
			}
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
	}
	// Three columns on book archive
	.post-type-archive-books {
		.content header {
			width: 95%;
		}
		.book-list {
			margin-top: 20px;
			clear: both;
			
			li {
				padding: 15px 0;
				margin: 0 1.5%;
				width: 30%;
				height: auto;
				text-align: center;
				float: left;
				clear: none;
			}
			.custom-cover, img {
				float: none;
				margin: 0 auto;
			}
		}
	}
	// Styling two column book page
	.single-books {
		.content header {
			.cover {
				display: none;
				margin: 15px auto;
			}
		}
		.col + .col {
			float: right;
			width: 220px!important;
			margin-right: 0;
			
			.cover {
				display: block;
				width: 190px;
				height: auto;
				margin: 0 auto;
			}
			.custom-cover.cover {
				width: 160px;
				height: 205px;
			}
			.custom-cover .title {
				font-size: 1.2em;
				line-height: 1em;
				text-align: center;
			}
		}
	}
    
    // Fix the Size of Two Column Paragraph Style
    p.two-col, div.two-col, p.two-col.with-border, div.two-col.with-border {
        width: 43.333%; 
        padding: 0 10px 15px 0; 
        margin: 1em 20px .5em 0;
        float: left;
       // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        clear:none;
    }
	// Adding spacing for footer
	footer {
		margin-top: 60px;
	}
}